$color-white: #fff;
$color-black: #000;
$color-blue: rgba(27, 125, 255, 1);
$color-purple: rgb(136, 0, 136);
$color-gray: rgb(78, 78, 78);
$color-darkblue: rgba(16, 39, 70, 1);
$color-shadow: rgba(21, 24, 36, 0.16);
